@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #8fa2a5;
  --foreground: #080707;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #8bb2b8;
    --foreground: #080707;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


footer {
  height: 30px; /* Fixed height */
  background-color: #18181b; /* Background color */
  color: white; /* Text color */
  display: flex;
  align-items: center; /* Center content vertixscally */
  justify-content: center; /* Center content horizontally */
}

header {
  height: 60px; /* Fixed height */
  background-color: #18181b; /* Background color */
  color: white; /* Text color */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}