{% extends "base.html" %}

{% block head %}
<title>Trip Manager</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Trip Manager</h1>

    {% if trips|length < 1 %}
    <h4>There are no trips. Plan one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Trip</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for trip in trips %}
            <tr>
                <td>{{ trip.content }}</td>
                <td>{{ trip.date_created.strftime('%Y-%m-%d') }}</td>
                <td>
                    <a href="/delete/{{ trip.id }}">Delete</a>
                    <br>
                    <a href="/update/{{ trip.id }}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/" method="POST">
        <input type="text" name="content" id="content" placeholder="Enter a new trip" required>
        <input type="submit" value="Add Trip">
    </form>
</div>
{% endblock %}