{% block body %}
<div class="content">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"></link>
    <h1 style="text-align: center">Update Trip</h1>

    <div class="form">
        <form action="/update/{{trip.id}}" method="POST"> <!-- Corrected the typo in 'form' -->
            <input type="text" name="content" id="content" value="{{trip.content}}" placeholder="Enter a new trip" required>
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}